@import url(./fonts.css);

/* CSS RESET */

html, body, div, span, p, a, button,
form, label, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, p, span {
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
}

:focus {
    outline: 0;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Gilroy';
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100vh;
}

.wrapper button {
    background: -o-linear-gradient(359.9deg, #00B49D 0.01%, #00B0BD 52.89%, #0066B3 99.85%);
    background: linear-gradient(90.1deg, #00B49D 0.01%, #00B0BD 52.89%, #0066B3 99.85%);
    border-radius: 18.5px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: 1.5px solid transparent;
    margin: 10px auto;
    width: 135px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.wrapper button:hover {
    background: #FFFFFF;
    color: #00B49D;
    border-color: #00B49D;
}

.modal {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    width: 803px; 
    height: 415px;
    top: 0; 
    right: 0; 
    bottom: 0;
    left: 0;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0;
    z-index: 5;
}

.modal__close {
    position: absolute;
    width: 26px;
    height: 26px;
    top: -14px;
    right: -14px;
    background: url(../img/close.svg) no-repeat center center, #00B49D;
    border: 1.5px solid #00B49D;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 1;
}

.modal__close:hover {
    background: url(../img/close_hover.svg) no-repeat center center, #FFFFFF;
    border-color: #00B49D;
}

.modal__content_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 400px;
}

h1 {
    font-size: 15px;
    font-weight: 600;
    color: #00B49D;
    line-height: 28px;
    margin: 48px 0 0 29px;
}

h2 {
    font-size: 42px;
    font-weight: 800;
    color: #0F2F60;
    line-height: 34px;
    margin: 1px 0 0 28px;
}

p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #0F2F60;
}

p > span {
    color: #00B49D;
}

p:not(.modal__content_info) {
    text-align: left;
    margin: 2px 0 10px -21px;
    padding-left: 64px;
    background: url(../img/item.svg) no-repeat left center;
}

.modal__content_info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1.5px solid #0F2F60;
    border-radius: 20px;
    position: relative;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #0F2F60;
    padding: 3px 0 3px 12px;
    margin: 28px 0 27px 30px;
    width: 324px;
}

.modal__btn_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    width: 118px;
    background: -o-linear-gradient(359.9deg, #00B49D 0.01%, #00B0BD 52.89%, #0066B3 99.85%);
    background: linear-gradient(90.1deg, #00B49D 0.01%, #00B0BD 52.89%, #0066B3 99.85%);
    font-size: 15px;
    font-weight: 600;
    line-height: 34px;
    height: 31px;
    color: #FFFFFF;
    border: 1.5px solid transparent;
    border-radius: 18.5px;
    margin: 20px 30px;
    padding-right: 7px;
    padding-left: 16px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 1;
}

.modal__btn_more a {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-align: center;
    padding: 6px 32px 4px 0;
    line-height: 20px;
}

.modal__btn_more_arrow {
    width: 23px;
    height: 23px;
    background: url(../img/arrow.svg) no-repeat center center, #00B49D;
    border-radius: 50%;
    position: relative;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: 2;
}

.modal__btn_more:hover {
    border-color: #00B49D;
    background: transparent;
}

.modal__btn_more:hover a {
    color: #00B49D;
}

.modal__btn_more:hover .modal__btn_more_arrow {
    background: url(../img/arrow.svg) no-repeat center center, -o-linear-gradient(bottom, #00B49D 0%, #00B0BD 52.89%, #0066B3 100%);
    background: url(../img/arrow.svg) no-repeat center center, -webkit-gradient(linear, left bottom, left top, from(#00B49D), color-stop(52.89%, #00B0BD), to(#0066B3));
    background: url(../img/arrow.svg) no-repeat center center, linear-gradient(to top, #00B49D 0%, #00B0BD 52.89%, #0066B3 100%);
}

.modal_content_side {
    background: url(../img/Image.svg) no-repeat top right;
    width: 50%;
    position: relative;
    right: 0;
    margin-left: 1.5px;
}

.modal_content_side_category {
    background: url(../img/category_a.svg) no-repeat 15px center, url(../img/category_arrow.svg) no-repeat center center;
    width: 68px;
    height: 36px;
    position: absolute;
    top: 56px;
    left: 23px;
}

.modal__background {
    display: none;
    width: 100%; 
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(0, 0, 0, .7);
    cursor: pointer;
    z-index: 2;
}

.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.fadeIn {
    -webkit-animation: fadeIn 0.3s ease forwards;
    animation: fadeIn 0.3s ease forwards;
}

.fadeOut {
    -webkit-animation: fadeOut 0.3s ease forwards;
    animation: fadeOut 0.3s ease forwards;
}

@-webkit-keyframes fadeIn {
    0%      {   opacity: 0; }
    100%    {   opacity: 1; }
}

@keyframes fadeIn {
    0%      {   opacity: 0; }
    100%    {   opacity: 1; }
}

@-webkit-keyframes fadeOut {
    0%      {   opacity: 1; }
    100%    {   opacity: 0; }
}

@keyframes fadeOut {
    0%      {   opacity: 1; }
    100%    {   opacity: 0; }
}

@media only screen and (max-width : 900px) {
    .modal {
        max-width: 650px;
        height: 335px;
    }

    .modal__content_main {
        width: 350px;
    }

    h1 {
        font-size: 13px;
        margin: 35px 0 0 13px;
    }
    
    h2 {
        font-size: 36px;
        margin: -5px 0 0 14px;
    }
    p {
        font-size: 10px;
    }

    p:not(.modal__content_info) {
        text-align: left;
        margin: 2px 0 4px -38px;
        padding-left: 64px;
        background-size: 48px;
        background-position: 10.5px;
    }

    .modal__content_info {
        font-size: 10px;
        width: 260px;
        padding: 2px 0 2px 12px;
        margin: 15px 0 19px 17px;
    }
    .modal__btn_more {
        width: 120px;
        font-size: 13px;
        margin: 12px 10px;
    }

    .modal_content_side {
        background-size: 100%;
        width: 298.5px;
    }

    .modal_content_side_category {
        width: 50px;
        height: 30px;
        top: 42px;
        left: -10px;
        background-size: 20px, 50px;
    }
}

@media only screen and (max-width : 768px)  {
    .modal {
        max-width: 360px;
        height: 585px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    h1 {
        margin-top: 25px;
    }

    p:not(.modal__content_info) {
        padding-left: 75px;
    }

    .modal__btn_more {
        width: 120px;
        font-size: 13px;
        margin: 12px auto;
    }

    .modal_content_side {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        width: 100%;
        background-size: 260px;
        height: 260px;
    }

    .modal_content_side_category {
        width: 60px;
        height: 45px;
        top: 30px;
        left: 75px;
        background-size: 25px, 60px;
    }
}

@media only screen and (max-width : 360px)  {
    .modal {
        max-width: 260px;
        height: 540px;
        text-align: center;
    }

    .modal__content_main {
        width: 260px;
    }

    .modal__content_info {
        width: 160px;
        padding: 1px 10px;
        line-height: 1rem;
        margin: 5px auto;
    }

    h1, h2 {
        margin: 0 auto;
        width: 260px;
    }

    h1 {
        font-size: 13px;
        line-height: 1rem;
        margin-top: 20px;
    }
    
    h2 {
        font-size: 28px;
    }

    p:not(.modal__content_info) {
        text-align: left;
        margin: 8px 0 2px -26px;
        padding-left: 70px;
        font-size: 9px;
        background-size: 34px;
        background-position: 25.5px;
    }

    .modal_content_side {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        width: 100%;
        background-size: 220px;
        height: 220px;
    }

    .modal_content_side_category {
        width: 60px;
        height: 45px;
        top: 25px;
        left: 10px;
        background-size: 25px, 60px;
    }
}
